.linklist-container {

    & .linklist__link {

        &:hover {

            & a {
                text-decoration: none;
                color: grey;

            }

            & svg {
                left: .5rem;
            }
        }

        & a {
            text-decoration: none;
            color: black;
            margin-top: 0;
            padding-top: 0;
            position: relative;
            left: 1rem;
        }

        & svg {
            transition: left .5s;
            position: relative;
            top: .45rem;
            left: 0rem;
            display: inline;
        }

    }
}