.linklist-container {

    & .linklist__link {
        width: fit-content;

        &:hover {

            & svg {
                left: 1.5rem;
            }
        }

        & a {
            margin-top: 0;
            padding-top: 0;
            position: relative;
            left: 3rem;
            width: min-content;
        }

        & svg {
            transition: left .5s;
            position: relative;
            left: 0rem;
            display: inline;
        }

    }
}