.linklist-container {

    & .linklist__link {

        &:hover {

            & a {
                text-decoration: none;
                color: grey;

            }

            & svg {
                right: .5rem;
            }
        }

        & a {
            text-decoration: none;
            color: black;
            margin-top: 0;
            padding-top: 0;
        }

        & svg {
            transition: right .5s;
            position: relative;
            top: .45rem;
            right: 1rem;
            display: inline;
        }

    }
}