html, body {
    overflow: hidden;
    height: 100vh;
}

.scroll-pages {

    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;

    .scroll-page {
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
    }

}

