---
import Intro from "../components/home/intro.astro";
import Projects from "../components/home/projects.astro";
import Writings from "../components/home/writings.astro";
import About from "../components/home/about.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Gabriel Guralnick">
  <div>
    <Intro nextText="About Me" nextId="about"/>
  </div>
  <div>
    <About nextText="My Projects" nextId="projects"/>
  </div>
  <div>
    <Projects nextText="My Writing" nextId="writings"/>
  </div>
  <div>
    <Writings />
  </div>
</Layout>
