---
import Intro from "../components/home/intro.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import Writings from "../components/home/writings.astro";
import About from "../components/home/about.astro";
import Layout from "../layouts/main.astro";


---

<Layout title="Gabriel Guralnick">
  <div>
    <Intro />
    <Separator text="About Me" />
  </div>
  <div>
    <About />
    <Separator text="My Projects" />
  </div>
  <div>
    <Projects />
    <Separator text="My writing" />
  </div>
  <div>
    <Writings />
  </div>
</Layout>
