---
const { title, id } = Astro.props;


---
<script is:inline define:vars={{id}}>
    const sectionCtr = document.getElementById(id);

    const section = sectionCtr.querySelector(".main-section");
    //section.style.height = `calc(100vh - ${headerHeight}px)`;
</script>

<section class="main-section max-w-4xl mx-auto px-7 pb-5 lg:px-0 flex flex-col justify-center flex-1 pt-10 border-dashed border-0 border-b-2 last:border-b-0 last:pb-0" id={id}>
    <div>
        {title && <h2
            class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
            >
                {title}
            </h2>}
            <slot />
    </div>
</section>


